.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header h1 {
    color: #464141;
    text-align: center;
    font-size: 50px;
}
nav {
    text-align: center;
}
nav a:link {
    color: #355F0D;
    text-decoration: none;
}
nav a:hover {
    color: #86E490;
    font-size: large;
}
nav a:visited {
    color: #A7B890;
}
.heromg {
    height: 350px;
    background-image: url(25554.jpg);
    background-position: center center;
    border-radius: 15px;
}
article h3 {
    background-color: #93C8EC;
    border-radius: 10px;
    height: 35px;
    padding-left: 10px;
    line-height: 35px;
}
